- model_class = Quest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.table-responsive
  %table.table.table-striped#quests
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:person)
        %th= model_class.human_attribute_name(:location)
        %th= model_class.human_attribute_name(:notes)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @quests.each do |quest|
        = render quest

