- model_class = Quest
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
  %button.btn.btn-default#whitemarch Hide White March
  - quest_states.each do |state|
    %button.toggle-quest.btn{:data => {:target => state[1]}, :class => "btn-#{state[1]}"}= state[0]
.table-responsive
  %table.table.table-striped#quests
    %thead
      %tr
        %th
          = model_class.human_attribute_name(:id)
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th
          = model_class.human_attribute_name(:name)
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th
          = model_class.human_attribute_name(:person)
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th
          = model_class.human_attribute_name(:location)
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th
          = model_class.human_attribute_name(:notes)
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th
          Quest Type
          = icon('arrow-up', '', :class => 'up')
          = icon('arrow-down', '', :class => 'down')
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @quests.each do |quest|
        = render quest

